* {
  font-family: "Kurale", serif;
  font-weight: 400;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  position: absolute;
  height: 60%;
  width: 40%;
  margin-left: 10%;
  margin-top: 5%;
}

h1, h2 {
  color: #000000;
  font-size: 3rem !important;
}

.text-gold {
  color: #f7b62c;
  font-size: 1.7rem;
}

.button-container {
  position: absolute;
  height: 20%;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  top: 75%;
  left: 15%;
}

#SignIn {
  border: 2px solid #ff0000;
  background-color: #ff000059;
  color: #dcb253;
  font-weight: bold;
  border-radius: 0%;
  padding: 1% 5%;
}

#SignIn:hover {
  background-color: #ff0000;
  color: #dcb253;
}

#Login {
  border: 2px solid #dcb253;
  background-color: #00000060;
  color: #dcb253;
  font-weight: bold;
  border-radius: 0%;
  padding: 1% 5%;
}

#Login:hover {
  background-color: #000000;
  color: #dcb253;
}

@media only screen and (max-width: 950px) {
  .text-container {
    width: 60%;
  }

  h1, h2 {
    font-size: 2.7rem !important;
  }

  #SignIn, #Login {
    padding: 2% 8%;
  }

}

@media only screen and (max-width: 600px) {
  .text-container {
    height: 60%;
    width: 70%;
    top: 10%;
    left: 15%;
    margin-left: 0%;
    margin-top: 0%;
  }

  .text-gold {
    font-size: 1.3rem;
  }

  .button-container {
    position: absolute;
    height: 20%;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    top: 75%;
    left: 15%;
  }
  h1, h2 {
    font-size: 2.5rem !important;
  }
  .text-container {
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  
  h1, h2 {
    font-size: 2rem !important;
  }

  #SignIn, #Login {
    padding: 3% 10%;
  }
}
@media only screen and (max-width: 260px) {
  p {
    display: none;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
