.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #Login {
    border: 2px solid #dcb253;
    background-color: #00000060;
    border-radius: 0%;
    padding: 1% 5%;
    text-decoration: none;
    color: #f7b62c;
    font-weight: bold;
    text-align: center;
  }
  
  #Login:hover {
      background-color: #000000;
      color: #f7b62c;
      cursor: pointer;
  }
  
  ::placeholder {
      text-align: center;
  }
  
  .form-control {
      border-radius: 20px; 
  }