* {
  font-family: "Kurale", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #010103;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-title {
  line-height: 50px;
  background-color: #4A352D;
  border: none;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
}

.card-wrapper {
  width: 90%;
  border-radius: 20px;
  background-color: #101829;
  border: 1px solid #3F4F56;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.card-data:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(63, 63, 63, 0.418);
  z-index: 1;
  border-radius: 5px;
}

.card-text, .card-title {
  z-index: 2;
}

.card {
  border-radius: 5px;
  border: 1px solid #dcb253;
  margin: 3%;
  width: 360px;
  height: 360px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
}

.card-body {
  color: white;
  font-size: 1.8rem !important;
  font-weight: bolder;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 30%;
  justify-content: center;
  align-items: center;
  margin: 2% 0%;
  gap: 4%;
}

.button-nav, .button-logout, .button-profile {
  border-radius: 5px;
  padding: 1% 5%;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  font-weight: bold;
  text-align: center;
}

.button-nav {
  border: 2px solid #dcb253;
  background-color: #262321;
  color: white;
}

.button-logout {
  border: 2px solid #FF0000;
  background-color: rgba(255, 0, 0, 0.30);
  color: #DCB253;
}

.button-profile {
  border: 2px solid #079103;
  background-color: #08910352;
  color: #DCB253;
}

.button-nav:hover, .button-logout:hover, .button-profile:hover {
  cursor: pointer;
  text-decoration: none;
}

.button-nav:hover {
  color: #dcb253;
}

.button-logout:hover,.button-profile:hover  {
  color: white;
}

@media only screen and (max-width: 565px) {
  .button-nav {
    margin: 4%;
  }
  .button-logout {
    margin: 4%;
  }
  .button-profile {
    margin: 4%;
  }
}
