.card-wrapper {
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.card {
  background-color: green;
  margin: 5px;
  flex: 1 0 calc(33.33% - 10px);
  max-width: calc(33.33% - 10px);
}
